@model IEnumerable<Order.Models.Purchase>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                номер заказа
            </th>
            <th>
                ФИО клиента
            </th>
            <th>
                Дата рождения
            </th>
            <th>
                Мобильный телефон
            </th>
            <th>
                Сумма заказа
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.FIO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.MobilePhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseAmount)
            </td>
        </tr>
        }
    </tbody>
</table>
